apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: strapiv4-staging
bases:
- ../workload
- ./configmap.yaml
images:
- name: devlaunchers/strapi
  newName: devlaunchers/strapi
  newTag: 0ba1c02-202512211955 # {"$imagepolicy": "strapiv4-staging:strapi:tag"}
