apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: strapiv4-staging
bases:
- ../workload
- ./configmap.yaml
images:
- name: devlaunchers/strapi
  newName: devlaunchers/strapi
  newTag: b6e6288-202511021956 # {"$imagepolicy": "strapiv4-staging:strapi:tag"}
