{
  "include": ["src/api/**/*.js", "src/index.js"],
  "check-coverage": false,
  "reporter": ["text", "cobertura"],
  "skip-full": true,
  "lines": 80,
  "watermarks": {
    "lines": [80, 95],
    "functions": [80, 95],
    "branches": [80, 95],
    "statements": [80, 95]
  }
}
